/* Page Background */
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #e3fdfd, #ffe6fa);
    display: flex;
    justify-content: center;
    padding-top: 80px;
    margin: 0;
}

/* Card Container */
.container {
    background: #ffffff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    animation: fadeIn 0.7s ease;
    width: 90%;
    max-width: 380px;
}


/* Heading */
h2 {
    text-align: center;
    margin-bottom: 22px;
    color: #333;
    font-weight: 600;
}

/* Input Date Field */
input {
    width: 93%;
    padding: 12px;
    margin: 12px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #6C63FF;
    outline: none;
    box-shadow: 0 0 8px rgba(108, 99, 255, 0.3);
}

/* Button */
button {
    width: 95%;
    padding: 12px;
    background: #6C63FF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 5px;
    margin-left: 10px;
    /* Animation */
    transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.3s;
}

button:hover {
    background: #554ef3;
    box-shadow: 0 6px 12px rgba(108, 99, 255, 0.3);
    transform: scale(1.01);
}

/* Result Box */
#result {
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.7;
    color: #444;
    background: #f8f8ff;
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid #6C63FF;
}

/* Fade In Animation */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Mobile responsiveness for screens <= 480px */
@media screen and (max-width: 480px) {
    body {
        padding-top: 40px; /* Thoda top spacing kam */
    }

    .container {
        width: 72%;       /* Card almost full width on mobile */
        padding: 25px;    /* Padding thoda reduce */
    }

    h2 {
        font-size: 20px;  /* Smaller heading */
    }

    input, button {
        font-size: 15px;  /* Slightly smaller input and button */
        padding: 10px;
        width: 277px;
    }

    #result {
        font-size: 14px;  /* Smaller result text */
    }
}
